Source Code/Spoken Word/Information/SpokenWord/SpokenWord_src/SpokenWord/Web References/com.borland.ww6/IBorlandBabelservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" name="IBorlandBabelservice" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="BabelFishRequest">
    <part name="translationmode" type="s:string" />
    <part name="sourcedata" type="s:string" />
  </message>
  <message name="BabelFishResponse">
    <part name="return" type="s:string" />
  </message>
  <message name="SupportedLanguagesRequest" />
  <message name="SupportedLanguagesResponse">
    <part name="return" type="s:string" />
  </message>
  <portType name="IBorlandBabel">
    <operation name="BabelFish">
      <input message="tns:BabelFishRequest" />
      <output message="tns:BabelFishResponse" />
    </operation>
    <operation name="SupportedLanguages">
      <input message="tns:SupportedLanguagesRequest" />
      <output message="tns:SupportedLanguagesResponse" />
    </operation>
  </portType>
  <binding name="IBorlandBabelbinding" type="tns:IBorlandBabel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="BabelFish">
      <soap:operation soapAction="urn:BorlandBabelIntf-IBorlandBabel#BabelFish" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:BorlandBabelIntf-IBorlandBabel" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:BorlandBabelIntf-IBorlandBabel" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="SupportedLanguages">
      <soap:operation soapAction="urn:BorlandBabelIntf-IBorlandBabel#SupportedLanguages" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:BorlandBabelIntf-IBorlandBabel" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:BorlandBabelIntf-IBorlandBabel" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IBorlandBabelservice">
    <port name="IBorlandBabelPort" binding="tns:IBorlandBabelbinding">
      <soap:address location="http://ww6.borland.com/webservices/BorlandBabel/BorlandBabel.exe/soap/IBorlandBabel" />
    </port>
  </service>
</definitions>